<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.course.model.CourseMapper">
	<delete id="removeCourseDestByCourseId" parameterType="string">
		delete
			from travel_destinations
			where course_id = #{courseId}
	</delete>
	
	<insert id="addCourseDestinations">
		insert
			into travel_destinations (course_id, attraction_id, `order`)
			values
			<foreach collection="list" item="td" separator=",">
		      (#{td.courseId}, #{td.attractionId}, #{td.order})
		    </foreach>
	</insert>
	
	<select id="getMemberCourseList" parameterType="string" resultType="courseDto">
		select *
			from courses
			where member_id = #{memberId}
	</select>
	
	<select id="getCourse" parameterType="string">
		SELECT att.*
			    from travel_destinations td
			    join attraction_info att on att.content_id = td.attraction_id
			    where td.course_id = #{courseId}
			    order by td.order;
	</select>
	
	<insert id="addCourse" parameterType="courseDto" useGeneratedKeys="true" keyProperty="courseId">
		insert
			into courses (member_id, course_name)
			values (#{memberId}, #{courseName})
	</insert>
	
	<update id="updateCourse" parameterType="courseDto">
		update courses
			set course_name = #{courseName}
			where course_id = #{courseId}
	</update>
	
	<delete id="removeCourseByCourseId" parameterType="string">
		delete
			from courses
			where course_id = #{courseId}
	</delete>
</mapper>