<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.follow.model.FollowMapper">

  <insert id="insertFollow">
    INSERT INTO followings (from_member_id, to_member_id)
    SELECT m1.member_id, m2.member_id
    FROM members m1, members m2
    WHERE m1.email = #{fromEmail} AND m2.email = #{toEmail}
  </insert>

  <delete id="deleteFollow">
    DELETE FROM followings
    WHERE from_member_id = (SELECT member_id FROM members WHERE email = #{fromEmail})
    AND to_member_id = (SELECT member_id FROM members WHERE email = #{toEmail})
  </delete>

  <select id="countFollowers" resultType="int">
    SELECT COUNT(*) FROM followings
    WHERE to_member_id = (SELECT member_id FROM members WHERE email = #{email})
  </select>

  <select id="countFollowees" resultType="int">
    SELECT COUNT(*) FROM followings
    WHERE from_member_id = (SELECT member_id FROM members WHERE email = #{email})
  </select>
  
  <select id="isFollowing" resultType="boolean">
      SELECT COUNT(*) > 0
      FROM followings
      WHERE from_member_id = #{fromMemberId} AND to_member_id = #{toMemberId}
  </select>

  <select id="isFollowedBy" resultType="boolean">
      SELECT COUNT(*) > 0
      FROM followings
      WHERE from_member_id = #{toMemberId} AND to_member_id = #{fromMemberId}
  </select>
  
</mapper>