<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.match.model.MatchMapper">
	<select id="match" parameterType="string" resultType="attractionDto">
		SELECT att.*
			from matches mat
		    join travel_destinations td on mat.course_id = td.course_id
		    join attraction_info att on att.content_id = td.attraction_id
		    where mat.match_id = #{matchId}
		    order by td.order;
	</select>
	<select id="matchDetail" parameterType="string" resultType="matchDto">
		select *
			from matches
			where match_id = #{matchId}
	</select>
	
	<select id="getMatches" resultType="matchDto">
		select * from matches
	</select>
	
	<select id="getMatchesByMember" parameterType="string">
		select m.*
			from match_members mm
			join matches m on mm.match_id = m.match_id
			where mm.member_id = #{memberId}
				and m.travel_end_date &gt;= current_date()
	</select>
	
	<delete id="removeMatchOfMember" parameterType="map">
		delete
			from match_members
			where member_id = #{memberId} and match_id = #{matchId}
	</delete>
	
	<select id="getFindMatches" resultType="matchDto">
		select * from matches
		where 1=1
		<choose>
			<when test="keyword != ''">
	            and match_title like concat('%', #{keyword}, '%')
	        </when>
		</choose>
		<choose>
	        <when test="sortKey == 0">
	            ORDER BY match_id DESC
	        </when>
	        <!-- <when test="sortKey == 1">
	            ORDER BY like_count DESC
	        </when> -->
	        <when test="sortKey == 2">
	            ORDER BY hit DESC
	        </when>
	        <otherwise>
	            ORDER BY match_id DESC
	        </otherwise>
	    </choose>
		limit #{start}, #{listsize}
	</select>
	
	<select id="getTotalMatchCount" parameterType="map" resultType="int">
		select count(match_id)
		from matches
	</select>
</mapper>