<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.member.MemberMapper">
	<!-- 멤버 단건 조회  -->
	<select id="member" parameterType="string" resultType="memberDto">
		select member_id, id, password, name, email
			from members
			where id = #{id}
	</select>
	
	<!-- 로그인  -->
	<select id="login" parameterType="memberDto" resultType="memberDto">
		select member_id, id
			from members
			where id = #{id} and password = #{password} and deleted = 0
	</select>
	
	<!-- 회원가입  -->
	<insert id="signup" parameterType="memberDto">
		insert into members (id, password, name, email)
			values (#{id}, #{password}, #{name}, #{email})
	</insert>
	
	<!-- 회원수정 -->
	<update id="update" parameterType="memberDto">
		update members
			set password = #{password}, name = #{name}, email = #{email}
			where id = #{id}
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="delete" parameterType="memberDto">
		update members
			set id = CONCAT('deleted_user_', REPLACE(UUID(), '-', '')), deleted = 1
			where id = #{id}
	</update>
</mapper>
