<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.member.model.MemberMapper">

	<select id="findByEmail" parameterType="string" resultType="memberDto">
		select *
		from members
		where email = #{email}
	</select>
	
	<select id="findByEmailAndName" parameterType="string" resultType="memberDto">
		select *
		from members
		where email = #{email} and member_name = #{name}
	</select>
	
	<select id="login" parameterType="memberDto" resultType="memberDto">
		select member_id, id
			from members
			where id = #{id} and password = #{password} and deleted = 0
	</select>
	
	<insert id="insertMember" parameterType="memberDto">
        INSERT INTO members (email, member_name, birthday, password, nickname, mbti, gender, intro, phone_number, valued_count, score, email_verify_code, deleted)
        VALUES (#{email}, #{memberName}, #{birthday}, #{password}, #{nickname}, #{mbti}, #{gender}, #{intro}, #{phoneNumber}, 0, 0, #{emailVerifyCode}, 0)
	</insert>
	
	<!-- <update id="update" parameterType="memberDto">
		update members
			set password = #{password}, name = #{name}, email = #{email}
			where id = #{id}
	</update> -->
	
	<update id="deleteMember" parameterType="memberDto">
		update members
			set email = CONCAT('deleted_user_', REPLACE(UUID(), '-', '')), deleted = 1
			where email = #{email}
	</update>
	
    <update id="updatePassword" parameterType="passwordUpdateRequestDto">
        UPDATE members
        SET password = #{newPassword}
        WHERE email = #{email}
    </update>
    
    <update id="updateMember" parameterType="memberDto">
        UPDATE members
        SET 
            member_name = #{memberName},
            nickname = #{nickname},
            mbti = #{mbti},
            intro = #{intro},
            phone_number = #{phoneNumber}
        WHERE 
            email = #{email}
    </update>
</mapper>
