<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
  	<!-- <typeAlias type="com.ssafy.enjoytrip.member.MemberDto" alias="memberDto"/> -->
  	<typeAlias type="com.ssafy.enjoytrip.trip.model.dto.SidoDto" alias="sidoDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.trip.model.dto.GugunDto" alias="gugunDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.trip.model.dto.AttractionDto" alias="attractionDto"/>
  </typeAliases>
  <mappers>
    <!-- <mapper resource="mybatis/mapper/memberMapper.xml" /> -->
    <mapper resource="mybatis/mapper/tripMapper.xml" />
  </mappers>
</configuration>
