<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
    <typeAlias type="com.ssafy.enjoytrip.review.model.ReviewDto" alias="reviewDto"/>
    <typeAlias type="com.ssafy.enjoytrip.review.model.ReviewViewDto" alias="reviewViewDto"/>
    <typeAlias type="com.ssafy.enjoytrip.review.model.ReviewMemberLikesDto" alias="reviewMemberLikesDto"/>
    <typeAlias type="com.ssafy.enjoytrip.review.model.CommentDto" alias="commentDto"/>
    <typeAlias type="com.ssafy.enjoytrip.review.model.ReviewFileDto" alias="reviewFileDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.trip.model.dto.SidoDto" alias="sidoDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.trip.model.dto.GugunDto" alias="gugunDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.trip.model.dto.AttractionDto" alias="attractionDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.match.model.MatchDto" alias="matchDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.match.model.MatchListItemDto" alias="matchListItemDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.match.model.HashtagDto" alias="hashtagDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.course.model.CourseDto" alias="courseDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.course.model.TravelDestinationDto" alias="travelDestinationDto"/>
  	<typeAlias type="com.ssafy.enjoytrip.member.model.MemberDto" alias="memberDto"/>  	
  	<typeAlias type="com.ssafy.enjoytrip.member.model.PasswordUpdateRequestDto" alias="passwordUpdateRequestDto"/>  	
  	<typeAlias type="com.ssafy.enjoytrip.file.model.FileDto" alias="fileDto"/>  	
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/mapper/tripMapper.xml" />
    <mapper resource="mybatis/mapper/reviewMapper.xml" />
    <mapper resource="mybatis/mapper/matchMapper.xml" />
    <mapper resource="mybatis/mapper/courseMapper.xml" />
    <mapper resource="mybatis/mapper/memberMapper.xml" />
    <mapper resource="mybatis/mapper/emailMapper.xml" />
    <mapper resource="mybatis/mapper/followMapper.xml" />
    <mapper resource="mybatis/mapper/fileMapper.xml" />
  </mappers>
</configuration>
